---
// En Astro-side
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="animate-fade-in grid items-center justify-center">
		<h1
			class="mt-10 ml-46 text-4xl font-bold text-teal-400 text-left animate-fade-in-up"
		>
			Who am i?
		</h1>
		<div class="flex items-center justify-center">
			<p class="text-white max-w-100 mt-5">
				Hi, I'm Rasmus Thorkildsen. Originally from Kristiansand and
				currently based in Trondheim, I am an IT graduate with a deep
				passion for music. I hold a Bachelor's degree in IT, have
				completed a one-year program in music, and am currently pursuing
				my Master of Science in IT. This website serves as my digital
				portfolio, bridging my two main passions. Below, you can explore
				my dual background by diving into either my technical projects
				or my creative musical endeavors.
			</p>
			<img
				src="/src/assets/RasmusThorkildsenPhoto.png"
				width="300"
				alt="Piano gallery selection"
				class="relative group block overflow-hidden rounded-lg max-w-[200px] pl-10"
			/>
		</div>
		<h2
			class="mt-10 text-2xl font-bold text-teal-400 text-center animate-fade-in-up"
		>
			Some projects i have worked on
		</h2>
		<div class="flex items-center justify-center pt-10 gap-10">
			<a
				href="/catandcapy"
				class="relative group block overflow-hidden max-w-[300px] hover:animate-float"
			>
				<img
					src="/src/assets/catandcapyheader.jpg"
					width="300"
					alt="Cat and Capy Project"
					class="relative group block overflow-hidden max-w-[300px]"
				/>
				<span
					class="text-white font-semibold text-base text-center pb-4 [text-shadow:_-1px_-1px_0_#000,_1px_-1px_0_#000,_-1px_1px_0_#000,_1px_1px_0_#000] drop-shadow-md"
					>Cat & Capy by Matato Games
				</span>
			</a>
			<a
				href="/catandcapy"
				class="relative group block overflow-hidden max-w-[300px] hover:animate-float"
			>
				<img
					src="/src/assets/perfectsplithero.png"
					width="300"
					alt="Perfect Split Project"
					class="relative group block overflow-hidden max-w-[300px]"
				/>
				<span
					class="text-white font-semibold text-base text-center pb-4 [text-shadow:_-1px_-1px_0_#000,_1px_-1px_0_#000,_-1px_1px_0_#000,_1px_1px_0_#000] drop-shadow-md"
					>Perfect Split
				</span>
			</a>
			<a
				href="/catandcapy"
				class="relative group block overflow-hidden max-w-[300px] hover:animate-float"
			>
				<img
					src="/src/assets/schibsted.png"
					width="300"
					alt="Schibsted Project"
					class="relative group block overflow-hidden max-w-[300px]"
				/>
				<span
					class="text-white font-semibold text-base text-center pb-4 [text-shadow:_-1px_-1px_0_#000,_1px_-1px_0_#000,_-1px_1px_0_#000,_1px_1px_0_#000] drop-shadow-md"
					>MA-Times for Schibsted
				</span>
			</a>
		</div>
	</div>
	<div class="animate-fade-in grid items-center justify-center pb-32">
		<h3
			class="mt-10 text-3xl font-bold text-teal-400 text-center animate-fade-in-up"
		>
			Select a pathway to explore more my work
		</h3>
		<div
			class="animate-slide-in-top flex items-center justify-center pt-10 gap-20"
		>
			<a
				href="/music"
				class="relative group block bg-slate-950 overflow-hidden rounded-lg max-w-[300px]"
			>
				<img
					src="/src/assets/pianopicture.jpg"
					width="300"
					alt="Piano gallery selection"
					class="w-full h-auto transition-all duration-300 group-hover:brightness-30"
				/>
				<h2 class="text-center text-white text-2xl font-bold">
					Music & Art
				</h2>
				<div
					class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none p-4"
				>
					<span
						class="text-white font-semibold text-base text-center pb-4 [text-shadow:_-1px_-1px_0_#000,_1px_-1px_0_#000,_-1px_1px_0_#000,_1px_1px_0_#000] drop-shadow-md"
						>Discover my musical journey, creative projects, and
						professional services — including bookings, private
						lessons, and original releases.</span
					>
				</div>
			</a>

			<a
				href="/tech"
				class="relative group block bg-slate-950 overflow-hidden rounded-lg max-w-[300px]"
			>
				<img
					src="/src/assets/coding.jpg"
					width="300"
					alt="Coding gallery selection"
					class="w-full h-auto transition-all duration-300 group-hover:brightness-30"
				/>
				<h2 class="text-center text-white text-2xl font-bold">
					Tech & IT
				</h2>
				<div
					class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none p-4"
				>
					<span
						class="text-white font-semibold text-base text-center pb-4 [text-shadow:_-1px_-1px_0_#000,_1px_-1px_0_#000,_-1px_1px_0_#000,_1px_1px_0_#000] drop-shadow-md"
						>Dive into my technical portfolio as an IT graduate.
						Explore my software development projects, academic
						coursework, AI implementations, and game design.
					</span>
				</div>
			</a>
		</div>
	</div>
</Layout>
