---
// En Astro-side
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import VideoScroll from "../components/VideoScroll.astro";
---

<Layout>
    <Header />
    <div class="grid items-center justify-center">
        <h1
            class="-translate-x-10 mt-10 text-4xl font-bold text-teal-400 text-left animate-fade-in-up"
        >
            About my music
        </h1>
        <div class="flex items-center">
            <p class="-translate-x-10 pt-7 max-w-100 text-white">
                Ive been doing music my whole life. Writing songs. jaskdj
                jaskfjasfj kajskajs kfjsakfjksa jkfsajkfj kjaksfjskaj
                kjfsakfjks. aisjfunsafk fkjsafksaf kjasfkjs Ive been doing music
                my whole life. Writing songs. jaskdj jaskfjasfj kajskajs
                kfjsakfjksa jkfsajkfj kjaksfjskaj kjfsakfjks. aisjfunsafk
                fkjsafksaf kjasfkjs
            </p>
            <span class="max-w-50"
                ><img src="/pianoplaceholder.png" class="w-50" alt="" /></span
            >
        </div>
        <h2
            class="-translate-x-10 mt-10 text-3xl font-bold text-teal-400 text-left animate-fade-in-up"
        >
            Piano Performance
        </h2>
    </div>
    <VideoScroll />
</Layout>
